<div class="page-wrapper">
    <h1>Digit Recognition</h1>

    <p>The famous "Hello World" of Neural Networks.</p>
    <p>To get a grasp of how Neural Networks learn 
        many people start by writing a program that can recognize digits in images.</p>
    <h2>Great Sources</h2>
    <div class="horizontal-grouping">
        <div class="vertical-grouping">
            <p><mark>3Blue1Brown</mark> made an excellent Series 
                walking through every step of make a Neural Network.
            </p>
            <app-image-link
                [link]="'https://www.youtube.com/watch?v=aircAruvnKk&list=PLZHQObOWTQDNU6R1_67000Dx_ZCJB-3pi'"
                [imageUrl]="'https://i.ytimg.com/vi/aircAruvnKk/maxresdefault.jpg'"
                [imageAlt]="'Neural Network Video Thumbnail from 3Blue1Brown'"
            ></app-image-link>
        </div>
        <div class="vertical-grouping">
            <p>I have to give credits to <mark>Sebastian Lague</mark> too, 
                because he made a great video on the topic as well.
            </p>
            <app-image-link
                [link]="'https://www.youtube.com/watch?v=hfMk-kjRv4c'"
                [imageUrl]="'https://i.ytimg.com/vi/hfMk-kjRv4c/maxresdefault.jpg'"
                [imageAlt]="'Neural Network Video Thumbnail from Sebastian Lague'"
            ></app-image-link>
        </div>
    </div>
    <p>But if you are still struggling to understand neural networks,
        read on and I will try to explain it in a way that makes sense to me.
    </p>

    <h2>Let's start at the very beginning: What is a Function</h2>
    <h3>Maths</h3>
    <p>A funciton is not more than some input, that gets processed and gives us some output.</p>
    <p>In Maths you usually write it like that: f(x) = k * x + d</p>
    <p>This takes a single number as an input and ouputs a single number as an output</p> 
    <p>Where x is the input, k is the slope and d is the offset.</p>
    <p>With this function we can display every slope in a cordinate system</p>
    <!--make some pictures-->
    <h3>Programming</h3>
    <p>In java we can write a function like this:</p>
    <p>float someFunction(float x) &#123; return x * 2 + 1; &#125;</p>
    <h3>Neural Networks</h3>
    <p>You can image a Neural Network like a big function 
        that takes some input values and delivers a certain amount of output values</p>
    <p>If we want to make a neural network, that can recognize digits from an image,
        we need to have the same number of inputs as pixels in the image and one output value.</p>
    <p>So if we have a 28x28 pixel image, we need 784 inputs and one output value.</p>

    <h2>Function Approximation</h2>
    <a href="https://www.desmos.com/calculator">Plot functions in here</a>
    <p>Now we have a function that takes some input and gives us some output.</p>
    <p>But what if we did't have the function? 
        Just some example points where the function goes through.</p>
    <p>How can we find the function that goes through all these points?</p>
    <p>Well, we can try to find the function that is closest to all the points.</p>
    <p>And this is what a Neural Network can do. But lets do it manually to understand the concept</p>
    <p>Lets pretend we have three points: A(1,4), B(0,1) and C(-1,-2)</p>
    <p>We know that the function we seek is linear and every linear function can be described like that:</p>
    <p>f(x) = k * x + d</p>
    <p>So we can try to find the right values for k and d.</p>
    <p>But how do we find the right values?</p>
    <p>Lets start by assigning random values to k and d. Lets set k to 1 and d to 0.</p>
    <p>So our first guess is f1(x) = x * 1 + 0 => f1(x) = x</p>
    
    <h3>Now we need a way of telling how bad we did</h3>
    <p>Lets give the function f1(x) some score in order to know how bad we did.</p>
    <p>For this we can use the distance between the points and the function.</p>
    <p>Lets take point A as an example: A is 1 at the x axis and 4 at the y axis.</p>
    <p>We have a function that takes the x value and outputs an y value, so lets do that.</p>
    <p>f1(1) = 1</p>

    <h3>Cost function</h3>
    <p>Now we need a cost function. This function takes two inputs, the value we expect and the value we got.</p>
    <p>And it outputs a value that tells us how bad we did. The higher this output, the worse we did.</p>
    <p>This function looks like that f(expected, actual) = (expected - actual)^2</p>
    <p>The function gets squared, because the result should always be positive</p>
    <p>Lets test this function.</p>
    <p>If the the actual output is the exact same as the expected output, the cost should be 0.</p>
    <p>So lets try that: f(4,4) = (4 - 4)^2 = 0 -> this seems to work</p>
    <p>Now lets try a different value: f(4,3) = (4 - 3)^2 = 1 -> this also seems to work</p>
    <p>The higher the difference, the higher the cost</p>

    <h3>Calculating the Cost</h3>
    <p>Now we can calculate the cost for our function f1(x) = x</p>
    <p>So lets do that for point A(1,4)</p>
    <p>Our function f1(1) = 1</p>
    <p>Our expected value is 4</p>
    <p>So our cost is cost(4,1) = (4 - 1)^2 = 9</p>
    <p>Lets call it Cost_A</p>
    <p>Now we can do the same for the other two points.</p>
    <p>We have point B(0,1). The X value is 0, so lets plot that on our function.</p>
    <p>f1(0) = 0 -> our actual output is 0 and our expected output is 1. 
        That means Cost_B is = cost(1,0) = (1 - 0)^2 = 1</p>
    <p>C(-1,-2) -> f1(-1) = -1 -> cost(-2, -1) = ((-2) - (-1))^2 = 1 = Cost_C</p>
    <p>To figure out how bad our current function f1(x) is, we just need to sum the costs of these points up.</p>
    <p>Cost_function_1 = Cost_A + Cost_B + Cost_C = 9 + 1 + 1 = 11</p>

    <h3>Improving the Function</h3>
    <p>Now we have a way of telling how bad our function is. 
        But how can we improve it? How can we find a better function?</p>
    <p>Well, we can try to change the values of k and d and see if we can get a better function.</p>
    <p>To keep things simple, lets just change one value. We start with k.</p>
    <p>So lets try to change k to 0.5 and see what happens.</p>
    <p>Now our function looks like this: f2(x) = x * 0.5 + 0</p>
    <p>Now we can calculate the cost for this function.</p>
    <p>Cost_A = cost(4, 0.5) = (4 - 0.5)^2 = 15.25</p>
    <p>Cost_B = cost(1, 0) = (1 - 0)^2 = 1</p>
    <p>Cost_C = cost(-2, -1) = ((-2) - (-1))^2 = 1</p>
    <p>Cost_function_2 = 15.25 + 1 + 1 = 17.25</p>
    <p>The cost increased, so this is not the direction where we should move the function.</p>
    <p>Now lets try to change k to 1.5</p>
    <p>Cost_A = cost(4, 1.5) = (4 - 1.5)^2 = 6.25</p>
    <p>Cost_B = cost(1, 0) = (1 - 0)^2 = 1</p>
    <p>Cost_C = cost(-2, -3) = ((-2) - (-3))^2 = 1</p>
    <p>Cost_function_3 = 6.25 + 1 + 1 = 8.25</p>
    <p>Now the cost decreased, so this is the direction where we should move the function.</p>
    <p>We can do the same to the d part of the function.</p>
    <p>So lets try to change d to -0.5</p>
    <p>function_4(x) = 1.5x - 0.5</p>
    <p>Cost_A = cost(4, 5.5) = (4 - 5.5)^2 = 2.25</p>
    <p>Cost_B = cost(1, -0.5) = (1 - (-0.5))^2 = 2.25</p>
    <p>Cost_C = cost(-2, -4.5) = ((-2) - (-4.5))^2 = 6.25</p>
    <p>Cost_function_4 = 2.25 + 2.25 + 6.25 = 10.75</p>
    <p>We had a cost of 8.25 with function_3(x) before, so this is not the way we should move the function.</p>
    <br>
    <p>Essentially what we are doing is trying to get the cost to zero.</p>

    <h2>What are Neural Networks?</h2>
    <h2>How do we get the Output</h2>
    <h2>Feeding Forward</h2>
    <h2>Recognizing Digits</h2>
    <h3>Our Dataset</h3>
    <h2>How to train a Neural Network</h2>
    <h2>Advanced Training of a Neural Network (Backpropagation)</h2>
</div>