<div class="page-wrapper">
    <h1>Digit Recognition</h1>

    <p>The famous "Hello World" of Neural Networks.</p>
    <p>To get a grasp of how Neural Networks learn 
        many people start by writing a program that can recognize digits in images.</p>
    <h2>Great Sources</h2>
    <div class="horizontal-grouping">
        <div class="vertical-grouping">
            <p><mark>3Blue1Brown</mark> made an excellent Series 
                walking through every step of make a Neural Network.
            </p>
            <app-image-link
                [link]="'https://www.youtube.com/watch?v=aircAruvnKk&list=PLZHQObOWTQDNU6R1_67000Dx_ZCJB-3pi'"
                [imageUrl]="'https://i.ytimg.com/vi/aircAruvnKk/maxresdefault.jpg'"
                [imageAlt]="'Neural Network Video Thumbnail from 3Blue1Brown'"
            ></app-image-link>
        </div>
        <div class="vertical-grouping">
            <p>I have to give credits to <mark>Sebastian Lague</mark> too, 
                because he made a great video on the topic as well.
            </p>
            <app-image-link
                [link]="'https://www.youtube.com/watch?v=hfMk-kjRv4c'"
                [imageUrl]="'https://i.ytimg.com/vi/hfMk-kjRv4c/maxresdefault.jpg'"
                [imageAlt]="'Neural Network Video Thumbnail from Sebastian Lague'"
            ></app-image-link>
        </div>
    </div>
    <p>But if you are still struggling to understand neural networks,
        read on and I will try to explain it in a way that makes sense to me.
    </p>
    <h2>Let's start at the very beginning: What is a Function</h2>
    <h2>Function Approximation</h2>
    <h2>What are Neural Networks?</h2>
    <h2>How do we get the Output</h2>
    <h2>Feeding Forward</h2>
    <h2>Recognizing Digits</h2>
    <h3>Our Dataset</h3>
    <h2>How to train a Neural Network</h2>
    <h2>Advanced Training of a Neural Network (Backpropagation)</h2>
</div>