#header {
    background-color: rgb(56, 56, 56);
    color: #fff;
    padding: 10px;
    text-align: center;
    font-family: Arial;
    border-radius: 10px;
}

#projects-container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    padding-top: 1px;
    border-radius: 10px;
    max-width: 450px;
    //shadow
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 1);
    justify-self: left;
}

#projects-container > h4 {
    font-size: 40px;
    font-weight: bold;
    font-family: monospace;
    color: white;
    margin-top: 15px;
    margin-bottom: 25px;
}

#project-list {
    display: flex;
    flex-direction: column;
    //first row gap (between lines) then column (between items in line)
    gap: 30px;
    list-style-type: none;
    padding-left: 0;
    align-items: stretch;
}

.terminal {
    background-color: black;
    max-width: 600px;
    color: white;
    text-align: left;
    font-size: 15px;
    font-family: monospace;
    padding: 10px;
    padding-left: 30px;
    border-radius: 10px;
}

#main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#main-grid > * {
    margin: 10px;
}

#terminal-side {
    justify-self: right;
    margin-top: 10%;
    width: 90%;
}

#social-media-line {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    //center horizontally
    justify-content: center;
    //center vertically
    align-items: center;
}

#social-media-line > a > img {
    width: 70px;
    height: auto;
}

#social-media-line > a > img:hover {
    transform: scale(1.1);
}