a {
    text-decoration: none;
}
a > li:hover {
    transform: scale(0.993);
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 10px 0 rgba(125, 125, 125, 0.1);
}

li {
    width: 90%;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

h4 {
    font-size: 24px;
    color: white;
    text-decoration: none;
    font-family: monospace;
    margin-bottom: 10px;
    margin-top: 5px;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

p {
    font-family: monospace;
    color: white;
    font-size: 20px;
}