$card-main-color: rgb(234, 234, 234);
$card-background-color: rgb(0, 0, 0);

a {
  text-decoration: none;
}

#card-div {
  padding: 10px;
  border-radius: 10px;
  border: 5px solid $card-main-color;
  box-shadow: 0 5px 30px 0 rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  aspect-ratio: 9/16;
  height: 400px;
  animation: card-fly-in;
  animation-duration: 2s;
  //keep state after animation
  animation-fill-mode: forwards;

  scale: 0;
}

@keyframes card-fly-in {
  0% {
    scale: 0;
    transform: translate(-100%,-100%);
  }
  100% {
    transform: translate(0%, 0%);
    scale: 1;
  }
}

#card-div:hover {
  //box shadow on hover red -
  box-shadow: 0 5px 30px 0 gray;
  scale: 1.05;
}

#card-div > h1 {
  color: $card-main-color;
  font-family: monospace;
  font-size: 24px;
  margin-bottom: 10px;
  position: relative;
}

.image-wrapper {
  flex: 1; /* grow to fill remaining space */
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#card-div > .image-wrapper > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: 10px;
}
