$easy-background-color: rgba(100, 100, 100, 0.333);
$mark-color: rgba(47, 47, 47, 0.6);

.page-wrapper {
    font-family: monospace;
    color: white;
    margin: 3%;
    max-width: 850px;
    width: 100%;
}

.grouping {
    background-color: $easy-background-color;
    border-radius: 10px;
    padding: 10px;
}

.vertical-grouping {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    background-color: $easy-background-color;
    border-radius: 10px;
    padding: 10px;
}

.vertical-grouping > p {
    margin-top: 0;
    margin-bottom: 0;
}

.vertical-grouping > * {
    flex: 1;
}

.horizontal-grouping {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.horizontal-grouping > * {
    flex: 1;
}

h1 {
    font-size: 35px;
    background-color: $easy-background-color;
    border-radius: 10px;
    padding: 10px;
}
h2 {
    margin-top: 30px;
    font-size: 25px;
    background-color: $easy-background-color;
    border-radius: 10px;
    padding: 10px;
}
h3 {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 20px;
    border: 3px solid $easy-background-color;
    border-radius: 10px;
    padding: 10px;
    //do not fill whole width
    max-width: fit-content;
    background-color: rgba(106, 106, 106, 0.126);
}

p {
    font-size: 18px;
    margin-bottom: 3px;
    margin-top: 1px;
}

mark {
    background-color: $mark-color;
    padding: 0 5px;
    color: white;
    border-radius: 3px;
}

img {
    max-width: 100%;
    max-height: auto;
    border-radius: 10px;
}

a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.132);
}
a:hover {
    box-shadow: 0 0 3px 1px white;
}

.math {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    background-color: rgb(69, 81, 60);
    border-radius: 10px;
    padding: 10px;
    max-width: fit-content;
    margin-top: 15px;
    margin-bottom: 15px;
}

.code {
    font-family: monospace;
    font-size: 18px;
    background-color: $easy-background-color;
    border-radius: 10px;
    padding: 10px;
    max-width: fit-content;
}
